.bandeira{
    width: 30%;
    height: 17vw;
    margin: 2%;
}
.bandeira h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    color: white;
    text-align: center;
    margin: 1%;
}
.bandeira div{
    height: 100%;
    width: 100%;
    border: solid 1.5px black;
}
.bandeira_horizontal{
    display: flex;
    flex-direction: column;
}
.bandeira_vertical{
    display: flex;
    flex-direction: row;
}
.bandeira_horizontal.tres_cores div{
    width: 100%;
    height: 33.3333%;
}
.bandeira_vertical.tres_cores div{
    width: 33.3333%;
    height: 100%;
}
.bandeira_horizontal.duas_cores div{
    width: 100%;
    height: 50%
}
.branca{
    background-color: white;
}
.vermelha{
    background-color: red;
}
.azul{
    background-color: blue;
}
.preta{
    background-color: black;
}
.amarela{
    background-color: yellow;
}

@media (max-width: 768px){
    .bandeira{
        width: 90%;
        height: 25vw;
    }
}
@media (max-width: 425px){
    .bandeira{
        width: 90%;
        height: 50vw;
        margin: 5%;
    }
    .bandeira h4{
        font-size: 5vw;
    }
}