@import url("./bandeiras/japao.css");
@import url("./bandeiras/alemanha.css");
@import url("./bandeiras/franca.css");

.bandeira{
    position: absolute;
    top: 10vw;
    left: 15vw;

    width: 30vw;
    height: 20vw;
}

#infos{
    position: absolute;
    top: 10vw;
    right: 25vw;

    width: auto;
    height: auto;
    padding: 0 1vw;

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
}

.nome_pais h1{
    margin: 0;
    font-size: 8vw;
    font-family: 'fontSec';
    color: white;
}
.explicacao_pais p{
    width: 25vw;
    text-align:justify;

    font-size: 0.8vw;
    font-family: 'fontSec';
    color: white;
}

.branca{
    background-color: white;
}
.vermelha{
    background-color: crimson;
}
.azul{
    background-color: cornflowerblue;
}
.preta{
    background-color: black;
}
.amarela{
    background-color: goldenrod;
}
.verde{
    background-color: chartreuse;
}