header{
    width: 100vw;
    height: auto;
    
    display: flex;
    flex-direction: row;

    overflow-x: scroll;
    scrollbar-width: none; /*Esconde a barra de rolagem*/
}

.mini_bandeira{
    height: 3vw;
    width: 4.5vw;
    margin: 0.5vw;

    flex-shrink: 0;/*Define o tamanho do cartão sem obedecer o tamanho do pai*/
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.mini_bandeira:hover{
    transform: scale(1.1);
}